.moocopy-header {
    display: flex;
    align-items: center;
    margin-left: 28%;
    margin-right: 19%;
}

/* All children should flex auto within the header to space evenly */
.moocopy-header * {
    flex: auto;
}

.moocopy-header figure {
    display: flex;
    align-items: center;
}

.moocopy-header figure {
    max-width: fit-content;
}

.moocopy-header figure.header-splash img {
    max-width: 200px;
}

.moocopy-header .links-container {
    display: flex;
    margin-block-start: 0;
    max-width: 65%;
}

.moocopy-header .links-container div.marketing-link {
    margin-left: 25%;
}

.moocopy-header .header-link {
    line-height: 42px;
    margin-right: 50px;
    font-weight: 800;
    max-width: fit-content;
    margin-block-start: 0;
}

.moocopy-header figure.social-link.header-linkedin {
    margin-left: 5px;
}

.moocopy-header figure.social-link {
    border-radius: 50%;
    padding: 5px;
    margin-block-start: 0;
}

.moocopy-header figure.social-link img {
    filter: invert(1);
}